body {
  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 55em;
}
#side-heading {
  text-align: left;
  font: Bold 2.75em Helvetica;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  margin-block-start: 0.5em;
}
.our-mission {
  width: 90%;
  margin: auto;
  margin-bottom: 20%;
}
.what-we-do-heading {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 5%;
  margin-top: 5%;
  width: 10em;
}
#heading {
  text-align: center;
  font: normal 0.875em Helvetica;
  letter-spacing: 0.035em;
  color: #354463;
  opacity: 1;
  padding: 0.5em;
}
.what-we-do-item {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  padding: 1.5em;
  width: 25%;
  padding-top: 12%;
}
.what-we-do-image {
  position: absolute;
  max-width: 100%;
  width: 90%;
  bottom: 80%;
  left: 15%;
}
.what-we-do-item-heading {
  text-align: left;
  font: Bold 1.75em Helvetica;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
  margin-block-end: 0.25em;
}
.what-we-do-item-info {
  margin-block-start: 0;
  text-align: left;
  font-family: Helvetica;
  letter-spacing: -0.01em;
  color: #354463;
  opacity: 1;
}
.what-we-do-container {
  display: flex;
  width: 87%;
  margin: auto;
  justify-content: space-between;
  height: 25em;
  margin-left: 5%;
}
.what-we-do-item-button {
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 1em;
  opacity: 1;
  border-width: 0;
  text-align: center;
  font: Bold 1.125em Helvetica;
  letter-spacing: 0;
  color: #354463;
  height: 2em;
  width: 8em;
}
@media only screen and (max-width: 900px) {
  #side-heading {
    font: Bold 2.25em Helvetica;
  }
  .our-mission {
    margin-bottom: 10%;
  }
  .what-we-do-container {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }
  .what-we-do-item {
    width: 100%;
    margin-bottom: 12%;
    padding-left: 55%;
    padding-top: 0;
    padding-right: 12%;
  }

   .what-we-do-image {
    left: 5%;
    top: -15%;
    max-width: 42%;
  }
  .what-we-do-item-button {
    position: absolute;
    right: 55%;
    bottom: 16%;
  }
  .what-we-do-item-heading {
    margin-bottom: 15%;
  }
}
@media only screen and (max-width: 550px) {
  .what-we-do {
    margin: auto;
  }
  #side-heading {
    font: Bold 1.375em Helvetica;
    text-align: center;
  }
  .what-we-do-container {
    width: 90%;
    margin: auto;
    margin-top: 25%;
    
  }

  .what-we-do-image {
    min-width: 80%;
    left: 10%;
  }

  .what-we-do-item-button {
    position: initial;
    margin-top: 2%;
    margin-bottom: 8%;
  }
   .what-we-do-item {
    padding: unset;
    text-align: center;
    margin-bottom: 20%;
  }
  .what-we-do-item-info {
    text-align: center;
    padding: 10%;
    padding-bottom: 0%;
  }
  .what-we-do-item-heading {
    font: Bold 1.375em Helvetica;
    text-align: center;
    margin-bottom: -6%;
    margin-top: 50%;
  }
}
