body {
  margin: 0;
  box-sizing: border-box;
  margin: auto;
  font-family: helvetica;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5% ;
}
.top-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
}
.title {

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font: Bold 1.125em Helvetica;
}

.info {
  color: gray;
  
}
.details {
  margin: 0.2em;
}
button {
  width: 100%;
  border-radius: 2em;
  background-color: lightgreen;
  border: none;
  height: 2.5em;
  font: Bold 1.125em Helvetica;
}
@media only screen and (min-width: 550px) {
  header {
    height: 55%;
    justify-content: end;
    margin: auto;
  }
  .top-line {
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .title {
    order: 1;
    width: 50%;
    justify-content: end;
    padding-top: 7%;;
    font: Bold 1.375em Helvetica;
  }

  button {
    order: 2;
    width: 30%;

  }
  .info {
    order: 3;
    flex-wrap: nowrap;
    width: 80%;
    padding-left: 0;
    padding-top: 5%;
    justify-content: space-between;
    display: flex;
  }

  .details {
    width: auto;
  }
}

@media only screen and (min-width: 900px) {
  header {
    flex-wrap: nowrap;
    height: 8em;
    width: 80%;
  }
  .title {
    order: 1;
  }
  .info {
    display: flex;
    align-items: center;
    margin-right: 5%;
    padding-top: 7%;

  }
  button {
    width: 10em;
  }
  .top-line {
    width: 100%;
    flex-wrap: nowrap;
  }
}
main {
  background-image: url("images/women.png");
  background-position: right;
  background-size: cover;
  padding-bottom: 10%;
  position: relative;
}

.page1-contents {
  width: 80%;
  margin: auto;
}
.stop-climate-change-img {
  margin-bottom: 20%;
}
#img1 {
  max-width: 50%;
  height: auto;
  margin-top: 2em;
}
.legend {
  position: absolute;
  color: white;
  background-color: black;
  width: 10em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.the-issue {
  left: 0;
  right: 0;
  margin: auto;
  bottom: 93%;
}

#issue-statement {
  text-align: center;
  font: Bold 1.375em Helvetica;
  letter-spacing: 0;
  color: #354463;
}
#issue-information {
  text-decoration: underline;
}
.issue-contents {
  position: relative;
  box-sizing: border-box;
  border: thin solid white;
  background-color: white;
  width: 100%;
  padding: 1em;
  text-align: center;
  margin: auto;
}

@media only screen and (min-width: 550px) {

  #img1 {
    max-width: 30%;
  }

  .stop-climate-change-img {
    margin-bottom: 10%;
  }
  .the-issue {
    left: 8%;
    margin: unset;
  }
  #issue-statement {
    font: Bold 2em Helvetica;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
  }
  #issue-information {
    padding-left: 2em;
    text-align: left;
  }


}
@media only screen and (min-width: 900px) {
  .page1-contents {
    display: flex;
    justify-content: space-between;
  }
  .stop-climate-change-img {
    order: 2;
    margin: unset;
  }
  .issue-contents {
    order: 1;
    width: 45%;
    margin: unset;
  }
  main {
    display: flex;
    padding-top: 10%;
  }
  #img1 {
    max-width: 75%;
    margin-top: 0;
  }
  .take-action {
    width: 20%;
  }
  .the-issue {
    top: -5%;
  }
}
footer {
  background-color: #c1f7d5;
  height: 30%;
  display: flex;
  position: relative;
}
.footerHeading {
  width: 40%;
}
.footerTitle {
  font-size: 1.2em;
}
.footer-contents {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  color: #354463;
  justify-content: space-between;
  margin-bottom: 3%;
  margin-top: 5%;
}
.take-action {
  top: -5%;
  margin: auto;
  left: 0;
  right: 0;
  width: 10em;
}


@media only screen and (min-width: 550px) {
  .footer-contents {
    width: 80%;
  }
  
  .footerTitle {
    font-size: 1.4em;
  }
  .footerHeading {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 900px) {
  .footer-contents {
    flex-wrap: nowrap;
  }
  .footerHeading{
    width: 20%;
  }
  .take-action {
    top: -7%;
  }
}
